---
import Bookmark from './Bookmark.astro';
import type { Bookmark as BookmarkType } from './Bookmark.astro';

interface Box {
  title: string;
  bookmarks: BookmarkType[];
}

const { box } = Astro.props
---

<div class="box">
  {box.title}
  <div class="bookmarks">
    {box.bookmarks.map((b:BookmarkType) => {
      return <Bookmark bookmark={b} key={b.url} />
    })}
  </div>
</div>

<style>
  .box {
    display: block;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    text-decoration: none;
    background-color:darkslategrey;
  }
</style>