<header class="bg-black text-gray-300 flex justify-between py-4 px-6">
    <a href="/" class="flex items-center">
        <img src="/logo.svg" alt="Logo" class="h-8 mr-4" />
        <span class="text-xl font-bold">Bookmark Box</span>
    </a>
    <nav>
        <a href="/" class="mx-4 hover:underline">Home</a>
        <a href="/about" class="mx-4 hover:underline">About</a>
    </nav>
</header>
