---
import Logo from '../assets/svg/logo.svg'
import NavLink from './NavLink.astro'
---

<header class="bg-gray-600 text-gray-300 flex justify-between py-4 px-6 items-center">
  <a href="/bookmark-box/" class="flex items-center">
    <Logo width={48} height={48} fill="currentColor" />
    <span class="text-xl font-bold">Bookmark Box</span>
  </a>
  <input type="search" placeholder="Filter boxes" class="bg-gray-700 px-2 py-1 rounded-lg" />
  <nav>
    <NavLink href="/bookmark-box/">Home</NavLink>
    <NavLink href="/bookmark-box/about">About</NavLink>
  </nav>
</header>

