---
import Logo from '../assets/svg/logo.svg';
---


<header class="bg-gray-600 text-gray-300 flex justify-between py-4 px-6 items-center">
    <a href="/bookmark-box/" class="flex items-center">
        <Logo width={48} height={48} fill="currentColor" />
        <span class="text-xl font-bold">Bookmark Box</span>
    </a>
    <nav>
        <a href="/bookmark-box/" class="mx-4 hover:underline">Home</a>
        <a href="/bookmark-box/about" class="mx-4 hover:underline">About</a>
    </nav>
</header>
