---
import Footer from '../components/Footer'
import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="bg-gray-800 m-0 p-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bookmark-box/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bookmark Box</title>
  </head>
  <body>
    <slot />
  </body>
</html>
